<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>mstp_mobile</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>lg.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>servlets.loginmstp_mobile</servlet-name>
    <servlet-class>servlets.loginmstp_mobile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>servlets.MLoginServlet</servlet-name>
    <servlet-class>servlets.MLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.MLoginServlet</servlet-name>
    <url-pattern>/MLoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.emailcontact</servlet-name>
    <servlet-class>servlets.emailcontact</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.emailcontact</servlet-name>
    <url-pattern>/emailcontact</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>servlets.loginmstp_mobile</servlet-name>
    <url-pattern>/loginmstp_mobile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Op_Servlet</servlet-name>
    <servlet-class>servlets.Op_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Op_Servlet</servlet-name>
    <url-pattern>/Op_Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Cconta</servlet-name>
    <servlet-class>servlets.Cconta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Cconta</servlet-name>
    <url-pattern>/Cconta</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>mobileServlet.MloginServlet</servlet-name>
    <servlet-class>mobileServlet.MloginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mobileServlet.MloginServlet</servlet-name>
    <url-pattern>/MloginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Upload_servlet</servlet-name>
    <servlet-class>servlets.Upload_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Upload_servlet</servlet-name>
    <url-pattern>/Upload_servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.RecuperaSenha</servlet-name>
    <servlet-class>servlets.RecuperaSenha</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.RecuperaSenha</servlet-name>
    <url-pattern>/RecuperaSenha</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servlets.Reg_servlet</servlet-name>
    <servlet-class>servlets.Reg_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlets.Reg_servlet</servlet-name>
    <url-pattern>/Reg_servlet</url-pattern>
  </servlet-mapping>
</web-app>